* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 100vh;
    overflow: none;
}

a {
    text-decoration: none;
}

#bar-dark-light {
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #303135;
}

#area-calc {
    height: 35vh;
    position: relative;
}

#area-calc hr {
    position: absolute;
    right: 18px;
    bottom: 0;
    width: 90%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#area-calc span {
    position: absolute;
    right: 0;
    bottom: 5px;
    margin-right: 5px;
}

#area-numbers {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.numbers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.numbers div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 60px;
}

.numbers span {
    font-size: 2em;
}

.numbers i, #ac {
    font-size: 0.625em;
    color: #FF7432;
}

.numbers .numbers-click span i  {
    color: #000;
}